/* Write your code here. */
.thumbnail-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0px;
  flex-wrap: wrap;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .thumbnail-container {
    align-items: flex-start;
    padding-bottom: 0px;
  }
}
.thumbnail-style {
  border-radius: 10px;
  opacity: 0.5;
}
.selected-button {
  opacity: 1;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
li {
  list-style-type: none;
  margin-top: 0px;
  padding-top: 0px;
}
